

//Color de fuente

  .f-black {
    color: black;
  }

  .f-red {
    color: red;
  }

  .f-white {
    color: white;
  }

  .f-star {
    color: #d6a000;
    font-size: 75px;
  }



//color de fondo

  .bg-none {
    background: none;
  }

  .bg-white {
    background-color: white;
  }

  .bg-red-dark {
    background-color: #a20015;
  }

  .bg-blue-dark {
    background-color: #083c61;
  }


  .bg-yellow {
    background-color: #b5731e;
  }

  .bg-green {
    background-color: #204533;
  }