
//Modal

.popup-1,
.popup-2,
.popup-3,
.popup-4 {
  display: none;
  margin-top: auto;
}

.popup-1,
.popup-2,
.popup-3,
.popup-4 {
  &.is-active {
    display: initial;
    background-color: rgba(0,0,0,0.8);
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:0;
    z-index: 999;
    transition:all .5s;
  }
}

.popup-contenedor {
  position: relative;
  margin: auto;
  top: 12%;
  padding: 20px;
  background-color: #083c61;
  color: white;
  border-radius: 3px;
  width: 100%;
}

a.popup-cerrar {
   position: absolute;
   top:3px;
   right:3px;
   background-color: white;
   padding:7px 10px;
   font-size: 20px;
   text-decoration: none;
   line-height: 1;
   color: #083c61;
}

.beer-figure-logo {
  img {
    max-width: 200px;
    max-height: 200px;
  }
}

.beer-row-logo {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

.beer-col-logo {
  height: 0;
}

.beer-reveal {
  border-left: 3px solid white;
  padding-left: 20px;
}

.beer-bg-figure {
  img {
    min-height: 1880px;
    object-fit: cover;
    max-height: 840px;
    width: 100%;
  }
}

.beer-row {
  position: relative;
  min-height: 500px;
}

.beer-row-main {
  .beer-col-main:nth-child(odd) {
    .beer-row-desc {
      .beer-col-desc {
        background-color: #c60016;
        padding: 15px;
      }
    }
  }
  .beer-col-main:nth-child(even) {
    .beer-row-desc {
      .beer-col-desc {
        background-color: #444242;
        padding: 15px;
      }
    }
  }
}


.beer-container-price {
  border-top: 3px solid white;
  border-bottom: 3px solid white;
  .beer-row-price:nth-child(odd) {
    border-bottom: 3px solid white;
  }
}

.beer-col-amount {
  border-right: 3px solid white;
}

.beer-figure-beer {
  img {
    max-height: 460px;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.beer-title {
  font-size: 50px;
}

.beer-desc {
  font-size: 20px;
  p {
    line-height: 1.3;
  }
}

.beer-logo-modal {
  max-width: 120px;
}



@media only screen and (min-width: 480px) {

  .popup-contenedor {
    top: 18%;
  }
}


@media only screen and (min-width: 720px) {
  .beer-bg-figure {
    img {
      min-height: 1150px;
      object-fit: cover;
      max-height: 840px;
      width: 100%;
    }
  }

  .popup-contenedor {
    top: 25%;
    width: 90%;
  }
}



@media only screen and (min-width: 960px) {

  .beer-bg-figure {
    img {
      min-height: 1200px;
      width: 100%;
    }
  }

  .beer-title {
    font-size: 70px;
  }

  .beer-desc {
    font-size: 23px;
    p {
      line-height: 1.6;
    }
  }

  .beer-logo-modal {
    max-width: initial;
  }





}



@media only screen and (min-width: 1200px) {

  .popup-contenedor {
    width: 75%;
    top: 25%;
  }

  .beer-bg-figure {
    img {
      min-height: 0;
      max-height: 750px;
      width: 100%;
    }
  }

  .beer-row {
    position: relative;
    min-height: inherit;
  }

  .beer-content-row {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

}