
.menu-row {
  position: relative;
}

.menu-image {
  max-width: 75px;
}

.menu-col-1 {
  background-color: #db732e;
  padding: 15px;
}

.menu-col-2 {
  background-color: #c4682b;
  padding: 30px;
  img {
    height: 250px;
    object-fit: cover;
    width: 100%;
  }
}

.menu-col-title-desc {
  border-left: 3px solid white;
  padding-left: 15px;
}

.menu-content-title {
  border-bottom: 3px solid white;
}

.menuPost {
  display: none;
}

.menu-pagination {
  .slick-slide {
    height: auto !important;
  }
  .slick-dots li button:before {
    font-size: 16px;
  }
}


@media only screen and (min-width: 960px) {

  .menu-bg-figure {
    img {
      height: 1080px;
      object-fit: cover;
      width: 100%;
    }
  }

}



@media only screen and (min-width: 1200px) {


  .menu-content-row {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

}